$white: #fff;
$dark_cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very_dark_blue: hsl(212, 21%, 14%);
$btn_hover: #1a4031;
$dark_grayish_blue: hsl(228, 12%, 48%);

$off_blue: #3e52a3;
$light_shadow: rgba(0, 0, 0, 0.1);
$shadow: rgba(16, 49, 182, 0.2);
$darker_shadow: rgba(0, 0, 0, 0.7);
